<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.1//EN"
    "https://checkstyle.org/dtds/configuration_1_1.dtd">

<module name="Checker">
    <module name="LineLength">
        <property name="max" value="100"/>
        <property name="fileExtensions" value="java"/>
    </module>

    <module name="TreeWalker">
        <module name="UnusedImports"/>

        <module name="ImportOrder">
            <property name="groups" value="java,javax,org,com"/>
            <property name="ordered" value="true"/>
            <property name="separated" value="true"/>
            <property name="option" value="bottom"/>
        </module>

        <module name="NeedBraces"/>
        <module name="LeftCurly"/>
        <module name="RightCurly"/>
        <module name="NoWhitespaceBefore">
            <property name="tokens" value="COMMA,SEMI,POST_INC,POST_DEC"/>
        </module>
        <module name="WhitespaceAround"/>
    </module>
</module>
